[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.9b0"
mypy = "*"
python-lsp-server = "*"
tabulate = "*"
types-pyyaml = "*"
types-tabulate = "*"

[packages]
pyyaml = "*"
spacy = "*"
spacy-lookups-data = "*"

[requires]
python_version = "3.9"
