[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tabulate = "*"
python-lsp-server = "*"
black = "==21.9b0"
mypy = "*"

[packages]
spacy = "*"
jsonschema = "*"
spacy-lookups-data = "*"
nltk = "*"

[requires]
python_version = "3.9"
