[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = "*"
tabulate = "*"

[packages]
spacy = "*"
nltk = "*"
spacy-lookups-data = "*"
jsonschema = "*"

[requires]
python_version = "3.8"
